.mypage-box {
  padding-top: 240px;
}

.mypage-box .my-dropdown {
  width: 460px;
  padding: 24px;
}

.mypage-box .my-dropdown .btn-wrapper {
  text-align: right;
  margin-bottom: 11px;
}

.mypage-box .my-dropdown .btn-wrapper .btn-close {
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  padding-top: 16px;
}

.mypage-box .my-dropdown .content .user-logo {
  width: 70px;
  height: 70px;
}

.mypage-box .my-dropdown .content .user-name {
  font-size: 24px;
  margin: 0 0 10px;
}

.mypage-box .my-dropdown .content .login-time {
  font-size: 16px;
  margin-bottom: 37px;
}

.mypage-box .my-dropdown .content .btn-group {
  margin-bottom: 31px;
}

.mypage-box .my-dropdown .content .btn-group .btn-primary {
  width: 120px;
  height: 60px;
}

.mypage-box .my-dropdown .content .btn-group .btn-primary:first-child {
  margin-right: 4px;
}

.site-header {
  max-width: 1420px;
  width: 100%;
  margin: auto;
  padding: 11px 10px;
}

.site-header .header-wrapper .main-logo {
  width: 206px;
  height: 52px;
}

.site-header .header-wrapper .main-logo .navbar-brand {
  background-size: 206px 52px;
  width: 100%;
  height: 100%;
}

.site-header .header-wrapper .gnb .ico-my {
  background-size: 22px 27px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.site-header .header-wrapper .gnb .ico-my:hover {
  background-color: #eeeeee;
}

.site-header .header-wrapper .gnb .ico-noti {
  background-size: 24px 27px;
  width: 50px;
  height: 50px;
}

.site-header .lnb {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.site-header .lnb .navbar-employee {
  white-space: nowrap;
}

.site-header .lnb .navbar-client,
.site-header .lnb .navbar-employee,
.site-header .lnb .navbar-transfer {
  min-height: auto;
  margin-bottom: 0;
  border: none;
  padding: 0;
}

.site-header .lnb .navbar-client .nav-item,
.site-header .lnb .navbar-employee .nav-item,
.site-header .lnb .navbar-transfer .nav-item {
  display: inline-block;
}

.site-header .lnb .navbar-client .nav-item.gray .nav-link,
.site-header .lnb .navbar-employee .nav-item.gray .nav-link,
.site-header .lnb .navbar-transfer .nav-item.gray .nav-link {
  color: #cccccc;
}

.site-header .lnb .navbar-client .nav-item .nav-link,
.site-header .lnb .navbar-employee .nav-item .nav-link,
.site-header .lnb .navbar-transfer .nav-item .nav-link {
  font-size: 21px;
  padding: 20px 46px;
}

.site-content {
  border-top: 1px solid #e2e2e2;
  min-height: calc(100vh - 95px - 100px);
}

.site-content .visual {
  position: relative;
}

.site-content .visual .bx-pager {
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.site-content .visual .bx-pager a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e4e4e4;
  margin: 6px;
}

.site-content .visual .bx-pager a.active {
  background-color: #467aff;
}

.site-content .visual .down-arr {
  background-image: url(../images/down-arr-round-y.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 90px;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 99;
}

.site-content .center {
  position: relative;
  padding: 118px 0;
  background-color: #2e2e3c;
}

.site-content .center .text-box {
  margin-left: 286px;
  margin-bottom: 130px;
}

.site-content .center .text-box .l-text {
  font-size: 50px;
  letter-spacing: -0.05em;
  font-family: "NanumSquare";
  margin: 0;
}

.site-content .center .text-box .l-text .orange {
  font-weight: bold;
  color: #f55f15;
}

.site-content .center .text-box .l-text .yellow {
  font-weight: 800;
  color: #ffcc00;
}

.site-content .center .text-box .s-text {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: -0.05em;
  color: #fff;
  font-family: "NanumSquare";
}

.site-content .center .text-slider .slider-item {
  width: 346px;
  text-align: left;
  font-family: "NanumSquare";
  opacity: 0.15;
}

.site-content .center .text-slider .slider-item .num {
  font-weight: 800;
  font-size: 18px;
  letter-spacing: -0.06em;
  margin-bottom: 20px;
  color: #fff;
}

.site-content .center .text-slider .slider-item .content {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.06em;
  padding-bottom: 25px;
  position: relative;
  color: #fff;
}

.site-content .center .text-slider .slider-item .content b {
  font-weight: 800;
}

.site-content .center .text-slider .slider-item .content::before {
  content: "";
  width: 24px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.site-content .center .text-slider .slider-item.slick-current {
  opacity: 1;
}

.site-content .center .text-slider .slick-arrow {
  display: none;
}

.site-content .center::after {
  content: "";
  display: block;
  background-image: url(../images/phone.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 603px;
  height: 563px;
  position: absolute;
  bottom: -40px;
  left: calc(50% + 30px);
}

.site-content .notice {
  position: relative;
  padding: 118px 0;
}

.site-content .notice .notice-title .title {
  font-family: "NanumSquare";
  font-weight: 800;
  font-size: 60px;
  letter-spacing: -0.04em;
  text-align: center;
}

.site-content .notice .notice-content {
  max-width: 1400px;
  margin: 87px auto;
  padding: 0 16px;
}

.site-content .notice .notice-content .notice-item {
  padding: 0;
}

.site-content .notice .notice-content .notice-item .date {
  font-size: 15px;
  color: #005ba4;
  letter-spacing: -0.04em;
}

.site-content .notice .notice-content .notice-item .title {
  font-size: 28px;
  font-family: "NanumSquare";
  line-height: 36px;
  letter-spacing: -0.08em;
  color: #222222;
  margin: 25px 0;
}

.site-content .notice .notice-content .notice-item .content {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #222222;
}

.site-content .notice .notice-content .notice-item:nth-child(1) {
  padding-right: 70px;
}

.site-content .notice .notice-content .notice-item:nth-child(2) {
  padding: 0 70px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.site-content .notice .notice-content .notice-item:nth-child(3) {
  padding-left: 70px;
}

.site-content .notice .notice-content .notice-item:hover, .site-content .notice .notice-content .notice-item:focus {
  text-decoration: none;
}

.site-content .notice .btn-wrapper {
  text-align: center;
}

.site-content .notice .btn-wrapper .more-btn {
  font-family: "NanumSquare";
  font-size: 20px;
  letter-spacing: -0.04em;
  color: #222222;
  position: relative;
  padding: 7px 17px 7px 0;
  padding-right: 17px;
  padding-bottom: 7px;
}

.site-content .notice .btn-wrapper .more-btn:hover {
  text-decoration: none;
  color: #222222;
  border-bottom: 1px solid #222222;
}

.site-content .notice .btn-wrapper .more-btn:active {
  text-decoration: none;
}

.site-content .notice .btn-wrapper .more-btn::after {
  content: "";
  display: block;
  background-image: url(../images/more-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.site-content .conts-wrap .sub-header {
  margin-bottom: 40px;
}

.site-content .conts-wrap .sub-header .site-logo {
  display: inline-block;
  background-image: url(../images/login-site-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 206px;
  height: 52px;
}

.site-content .conts-wrap .sub-footer .copyright {
  font-size: 13px;
  letter-spacing: -0.04em;
  color: #aaaaaa;
  text-align: center;
  margin-bottom: 84px;
}

.site-content .top-btn {
  display: block;
  position: absolute;
  right: 40px;
}

.site-content .top-btn a {
  display: block;
  width: 68px;
  height: 68px;
  background-image: url(../images/up-arr-round-b.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bottom-wrapper .employee-btn-wrapper {
  height: 90px;
  background-color: #ffe347;
}

.bottom-wrapper .employee-btn-wrapper .text {
  font-size: 32px;
  padding-left: 64px;
}

.bottom-wrapper .employee-btn-wrapper .text::before {
  width: 52px;
  height: 52px;
}

.bottom-wrapper .employee-btn-wrapper .timestamp {
  font-size: 30px;
  color: #e6aa28;
}

.bottom-wrapper .chatting-box {
  max-width: 720px;
  margin: auto;
  padding: 9px 0 20px;
}

.bottom-wrapper .chatting-box.nochat .list-commt .box-type1 {
  height: 0;
  padding: 0 22px;
  -webkit-transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.bottom-wrapper .chatting-box .btn-wrapper .hide-box .hide-btn {
  width: 17px;
  height: 14px;
  background-size: 17px 11px;
}

.bottom-wrapper .chatting-box .btn-wrapper .reload-box .reload-btn {
  width: 42px;
  height: 42px;
}

.bottom-wrapper .chatting-box .list-commt .box-type1 {
  height: 200px;
  padding: 27px 22px;
  border-radius: 8px;
  margin: 6px 0 12px;
  -webkit-transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.bottom-wrapper .chatting-box .list-commt .box-type1 p {
  font-size: 18px;
  line-height: 32px;
  padding-left: 32px;
}

.bottom-wrapper .chatting-box .list-commt .box-type1 p::before {
  width: 24px;
  height: 24px;
  top: 4px;
}

.bottom-wrapper .chatting-box .list-commt .input-group input[type="text"] {
  height: 68px;
  border-radius: 8px;
  font-size: 18px;
  margin-right: 8px;
  width: 99%;
}

.bottom-wrapper .chatting-box .list-commt .input-group input[type="text"]::-webkit-input-placeholder {
  font-size: 18px;
}

.bottom-wrapper .chatting-box .list-commt .input-group input[type="text"]:-ms-input-placeholder {
  font-size: 18px;
}

.bottom-wrapper .chatting-box .list-commt .input-group input[type="text"]::-ms-input-placeholder {
  font-size: 18px;
}

.bottom-wrapper .chatting-box .list-commt .input-group input[type="text"]::placeholder {
  font-size: 18px;
}

.bottom-wrapper .chatting-box .list-commt .input-group .btn-success {
  width: 90px;
  height: 70px;
}

.bottom-wrapper .chatting-box .list-inquiry {
  margin-top: 15px;
}

.bottom-wrapper .chatting-box .list-inquiry p {
  font-size: 18px;
  padding-left: 32px;
}

.bottom-wrapper .chatting-box .list-inquiry p::before {
  width: 24px;
  height: 24px;
}

.site-footer {
  height: 100px;
  margin-bottom: 90px;
}

.site-footer .container-fluid {
  padding: 31px 40px;
}

.site-footer .container-fluid .copyright {
  float: left;
  font-size: 14px;
  letter-spacing: -0.04em;
  padding: 6px 0;
}

.site-footer .container-fluid .btn-group {
  float: right;
  margin-left: 0;
}

.site-footer .container-fluid .btn-group .btn-link {
  font-size: 16px;
}

.site-footer .container-fluid .btn-group .btn-link span {
  padding-right: 17px;
}

.site-footer .container-fluid .btn-group .btn-link span::after {
  width: 7px;
  height: 10px;
}

.page-sub .site-content .conts-wrap {
  max-width: 720px;
  margin: 70px auto 340px;
}

.page-sub .site-content .conts-wrap .list-group-type1 {
  margin-top: 15px;
  margin-bottom: 37px;
}

.page-sub .site-content .conts-wrap .list-group-type1 .list-group-item {
  padding: 24px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-sub .site-content .conts-wrap .list-group-type1 .list-group-item:not(:last-child) {
  margin-bottom: 10px;
}

.page-sub .site-content .conts-wrap .list-group-type1 .list-group-item .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-sub .site-content .conts-wrap .list-group-type1 .list-group-item .left .badge {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 14px;
}

.page-sub .site-content .conts-wrap .list-group-type1 .list-group-item .left .title {
  font-size: 22px;
  margin-bottom: 0;
}

.page-sub .site-content .conts-wrap .list-group-type1 .list-group-item .left .location {
  font-size: 16px;
  padding-left: 25px;
}

.page-sub .site-content .conts-wrap .list-group-type1 .list-group-item .left .location::before {
  width: 18px;
  height: 21px;
}

.page-sub .site-content .conts-wrap .list-group-type1 .list-group-item .right {
  text-align: right;
}

.page-sub .site-content .conts-wrap .list-group-type1 .list-group-item .right span {
  font-size: 16px;
}

.page-sub .site-content .conts-wrap .list-group-type1 .list-group-item .right .charge {
  font-size: 20px;
  margin-bottom: 0;
}

.page-sub .site-content .conts-wrap .pagination .page-item .page-link {
  width: 58px;
  height: 58px;
  border: 2px solid #222222;
  border-radius: 8px;
  font-size: 22px;
  margin: 3px;
}

.page-sub .site-content .conts-wrap .pagination .page-item .page-prev {
  background-size: 11px 17px;
}

.page-sub .site-content .conts-wrap .pagination .page-item .page-next {
  background-size: 11px 17px;
}

.page-sub .site-content .conts-wrap .badge {
  width: 70px;
  height: 40px;
}

.page-sub .site-content .conts-wrap .detail-wrapper {
  margin-bottom: 45px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 0;
  margin-bottom: 25px !important;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row:nth-child(2) div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row:nth-child(2) div div:first-child {
  margin-right: 10px;
  margin-bottom: 0;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row:nth-child(5) div, .page-sub .site-content .conts-wrap .detail-wrapper .detail-row:nth-child(8) div {
  padding: 27px 24px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .cms-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  padding: 0 30px 0 40px;
  margin-bottom: 15px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .cms-form fieldset label {
  width: 48px;
  height: 44px;
  margin-right: 5px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .warning {
  font-size: 16px;
  padding-left: 36px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .warning::before {
  width: 28px;
  height: 28px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .rate-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  padding: 0 30px 0 40px;
  margin-bottom: 15px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .rate-result .star-wrapper {
  padding-left: 0;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .rate-result .star-wrapper .star-logo {
  width: 48px;
  height: 44px;
  margin-right: 5px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .rate-result .score-wrapper {
  display: block;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .rate-result .score-wrapper p {
  font-size: 20px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .rate-result .score-wrapper p.score {
  font-size: 50px;
  margin-top: 14px;
  text-align: right;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row.rating div .rate-result .score-wrapper p.score .p-score {
  font-size: 26px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row:not(:last-child) {
  margin-bottom: 25px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row .cms-type-internal-time-date-time-absolute {
  padding-left: 37px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row .cms-type-internal-time-date-time-absolute::before {
  width: 27px;
  height: 26px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row .title {
  font-size: 20px;
  margin-bottom: 6px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row div p {
  font-size: 18px;
  line-height: 26px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row div div {
  height: 70px;
  padding-left: 20px;
}

.page-sub .site-content .conts-wrap .detail-wrapper .detail-row div div .form-control-static {
  font-size: 18px;
}

.page-sub .site-content .conts-wrap .alert-success {
  width: 100%;
  height: 400px;
  margin-bottom: 45px;
}

.page-sub .site-content .conts-wrap .alert-success p {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
  padding-top: 133px;
}

.page-sub .site-content .conts-wrap .alert-success p::before {
  width: 98px;
  height: 98px;
}

.page-login .site-content {
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-login .site-content .conts-wrap {
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
}

.page-login .site-content .conts-wrap .sub-wrap {
  width: 468px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content {
  width: 100%;
  text-align: center;
  border-radius: 12px;
  padding: 70px;
  margin-bottom: 60px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .text {
  text-align: left;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 40px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .text::after {
  width: 62px;
  height: 62px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical {
  width: 100%;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn {
  padding: 21px 0px;
  margin: 8px 0;
  font-size: 18px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn-primary .logo {
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn-primary .title {
  margin-left: 10px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn-naver .logo {
  background-size: 23px 23px;
  width: 32px;
  height: 32px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn-naver .title {
  margin-left: 10px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn-kakao .logo {
  background-size: 27px 27px;
  width: 32px;
  height: 32px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn-kakao .title {
  margin-left: 10px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn-google .logo {
  background-size: 23px 23px;
  width: 32px;
  height: 32px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn-google .title {
  margin-left: 15px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn-facebook .logo {
  background-size: 14px 30px;
  width: 32px;
  height: 32px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-content .btn-group-vertical .btn-facebook .title {
  margin-left: 10px;
}

.page-login .site-content .conts-wrap .sub-wrap .sub-footer .copyright {
  margin-bottom: 0;
}

.page-title .title {
  width: 110px;
  height: 60px;
  font-size: 19px;
  border-radius: 30px;
}

.page-title .desc {
  font-size: 48px;
  margin-top: 22px;
}

.tab ul {
  padding: 0;
  margin-bottom: 30px;
}

.tab ul li {
  width: 100%;
}

.tab ul li a {
  font-size: 24px;
  padding: 0 0 13px;
}

.btn-group .btn-primary {
  width: 200px;
  height: 90px;
  margin: 0;
}

.btn-group .btn-primary:not(:last-child) {
  margin-right: 6px;
}

.btn-group .go-cancel.small {
  width: 170px;
}

.btn-group .go-history {
  width: 220px;
}

.btn-group .go-list {
  width: 170px;
}

.btn-group .go-accept {
  width: 170px;
}

.btn-group .go-complete {
  width: 170px;
}

.btn-group .go-edit {
  width: 170px;
}

.btn-group .go-app-cancel {
  width: 170px;
}

.btn-group .go-app-cancel.request {
  width: 170px;
}

.btn-group .go-app-cancel.blue {
  width: 170px;
}

.btn-group .go-confirm {
  width: 170px;
}

.btn-group .rate-btn {
  width: 110px;
  height: 60px;
}

.page-main .site-content {
  padding: 0;
}

.page-signup .site-content .conts-wrap {
  margin: 0 auto;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-header {
  padding: 21px 0;
  margin-bottom: 70px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content {
  max-width: 720px;
  margin: auto;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .summary .title {
  font-size: 19px;
  padding: 23px 22px;
  border-radius: 30px;
  margin-bottom: 23px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .summary p {
  font-size: 48px;
  margin-bottom: 43px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 {
  padding: 20px 0 5px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group {
  margin: 0 0 25px 0;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group .control-label {
  font-size: 20px;
  margin-bottom: 6px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group .col-sm-9 input {
  height: 70px;
  font-size: 18px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group .col-sm-9 input::-webkit-input-placeholder {
  font-size: 18px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group .col-sm-9 input:-ms-input-placeholder {
  font-size: 18px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group .col-sm-9 input::-ms-input-placeholder {
  font-size: 18px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group .col-sm-9 input::placeholder {
  font-size: 18px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group .col-sm-9 .important {
  margin-top: 15px;
  padding-left: 35px;
  font-size: 16px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group .col-sm-9 .important::before {
  width: 28px;
  height: 28px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group:nth-child(2) .col-sm-9 input {
  max-width: 470px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group:nth-child(4) .col-sm-9 input {
  max-width: 470px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group:nth-child(5) .col-sm-3 {
  margin-bottom: 11px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group:nth-child(5) .col-sm-9 label {
  font-size: 18px;
  padding-left: 50px;
  margin-right: 40px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-1 .form-group:nth-child(5) .col-sm-9 label:before {
  width: 38px;
  height: 38px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-2 {
  padding: 25px 0 17px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-2 div strong {
  font-size: 20px;
  margin-bottom: 10px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-2 div div:first-child {
  padding: 27px 22px;
  height: 298px;
  overflow: scroll;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-2 div div:first-child p {
  font-size: 16px;
  line-height: 24px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-2 div div:last-child label {
  font-size: 18px;
  line-height: 48px;
  padding-left: 42px;
  margin-top: 11px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-2 div div:last-child label::before {
  width: 32px;
  height: 32px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-body-2 > div:first-child {
  margin-bottom: 10px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-footer {
  text-align: center;
  padding: 50px 0;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-footer .btn-success {
  width: 200px;
  height: 90px;
  margin-right: 3px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-content .cms-form .box-footer .btn-warning {
  width: 200px;
  height: 90px;
}

.page-signup .site-content .conts-wrap .sub-wrap .sub-footer {
  padding: 30px 0 0;
}

.page-mypage .sub-wrap {
  margin-top: 69px;
}

.page-mypage .sub-wrap .sub-content {
  margin: 0 auto 80px;
  max-width: 720px;
}

.page-mypage .sub-wrap .sub-content .summary {
  text-align: center;
  margin-bottom: 39px;
}

.page-mypage .sub-wrap .sub-content .summary .title {
  font-size: 19px;
  width: 110px;
  height: 60px;
  border-radius: 30px;
}

.page-mypage .sub-wrap .sub-content .box-primary .box-body {
  padding: 30px 0;
  margin-bottom: 50px;
}

.page-mypage .sub-wrap .sub-content .box-primary .box-body .form-group:nth-child(1) .col-sm-9 {
  max-width: 470px;
}

.page-mypage .sub-wrap .sub-content .box-primary .box-body .form-group:nth-child(5) .col-sm-9 {
  max-width: 470px;
}

.page-mypage .sub-wrap .sub-content .box-primary .box-body .form-group:not(:last-child) {
  margin-bottom: 25px;
}

.page-mypage .sub-wrap .sub-content .box-primary .box-body .form-group .control-label {
  font-size: 20px;
  padding: 0;
  margin-bottom: 10px;
}

.page-mypage .sub-wrap .sub-content .box-primary .box-body .form-group .col-sm-9 {
  height: 70px;
  border-radius: 8px;
}

.page-mypage .sub-wrap .sub-content .box-primary .box-body .form-group .col-sm-9 .form-control-static {
  font-size: 18px;
  padding: 0 0 0 20px;
}

.page-mypage .sub-wrap .sub-content .box-primary .box-footer .btn {
  padding: 0;
}

.page-mypage .sub-wrap .sub-content .box-primary .box-footer .btn-default {
  width: 200px;
  height: 90px;
  margin-right: 3px;
}

.page-mypage .sub-wrap .sub-content .box-primary .box-footer .btn-danger {
  width: 200px;
  height: 90px;
}

.page-apply .site-content .conts-wrap .step {
  width: 470px;
  height: 50px;
  margin-top: 33px;
}

.page-apply .site-content .conts-wrap .step::before {
  width: 412px;
  height: 28px;
}

.page-apply .site-content .conts-wrap .step p {
  font-size: 16px;
  padding-top: 43px;
}

.page-apply .site-content .conts-wrap .prev-value {
  width: 100%;
  height: 74px;
  border-radius: 10px;
  margin-top: 60px;
}

.page-apply .site-content .conts-wrap .prev-value .value {
  font-size: 22px;
  margin-bottom: 0;
  padding-left: 58px;
}

.page-apply .site-content .conts-wrap .prev-value .value::before {
  width: 44px;
  height: 44px;
}

.page-apply .site-content .conts-wrap .complaints-group {
  margin: 57px 0 30px;
}

.page-apply .site-content .conts-wrap .complaints-group div {
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}

.page-apply .site-content .conts-wrap .complaints-group div:nth-child(odd) {
  padding-right: 15px;
}

.page-apply .site-content .conts-wrap .complaints-group div .btn-default {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  padding: 6px 15px;
}

.page-apply .site-content .conts-wrap .complaints-group div .btn-default .title {
  font-size: 20px;
}

.page-apply .site-content .conts-wrap .complaints-group div .btn-default .logo {
  width: 60px;
  height: 60px;
}

.page-apply .site-content .conts-wrap .complaints-group-detail {
  margin: 12px -8px 37px;
}

.page-apply .site-content .conts-wrap .complaints-group-detail div {
  padding: 8px;
}

.page-apply .site-content .conts-wrap .complaints-group-detail div .btn-default {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  padding: 6px 15px;
}

.page-apply .site-content .conts-wrap .complaints-group-detail div .btn-default .title {
  font-size: 20px;
}

.page-apply .site-content .conts-wrap .complaints-group-detail div .btn-default .check-logo {
  width: 20px;
  height: 17px;
}

.page-apply .site-content .conts-wrap .finish {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  margin-top: 57px;
  margin-bottom: 56px;
}

.page-apply .site-content .conts-wrap .finish .text {
  font-size: 24px;
  padding-top: 206px;
}

.page-apply .site-content .conts-wrap .finish .text::before {
  width: 180px;
  height: 180px;
}

.page-apply-middle .conts-wrap .step::before {
  background-image: url(../images/step-3.png);
}

.page-apply-middle .conts-wrap .info {
  padding: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 58px;
}

.page-apply-middle .conts-wrap .info .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-apply-middle .conts-wrap .info .left .avatar {
  width: 70px;
  height: 70px;
  margin-right: 11px;
}

.page-apply-middle .conts-wrap .info .left .name {
  font-size: 28px;
}

.page-apply-middle .conts-wrap .info .left .email {
  font-size: 18px;
}

.page-apply-middle .conts-wrap .info .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-apply-middle .conts-wrap .info .right .phone-img {
  width: 18px;
  height: 26px;
}

.page-apply-middle .conts-wrap .info .right .tel {
  font-size: 18px;
}

.page-apply-middle .conts-wrap .box-primary {
  margin-top: 35px;
}

.page-apply-middle .conts-wrap .box-primary .control-label {
  font-size: 20px;
  text-align: left;
  margin-bottom: 7px;
}

.page-apply-middle .conts-wrap .box-primary .col-sm-3,
.page-apply-middle .conts-wrap .box-primary .col-sm-9 {
  width: 100%;
  padding: 0;
}

.page-apply-middle .conts-wrap .box-primary .form-group {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
}

.page-apply-middle .conts-wrap .box-primary .form-group:nth-child(1) .col-sm-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-apply-middle .conts-wrap .box-primary .form-group:nth-child(1) .col-sm-9 select {
  display: inline-block;
}

.page-apply-middle .conts-wrap .box-primary .form-group:nth-child(1) .col-sm-9 select:nth-child(1) {
  margin-right: 10px;
  margin-bottom: 0;
}

.page-apply-middle .conts-wrap .box-primary .form-group:nth-child(5) {
  margin-bottom: 20px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 select {
  height: 68px;
  padding-left: 23px;
  background-position: calc(100% - 19px) 50%;
  font-size: 18px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 input[type="text"] {
  height: 68px;
  padding-left: 23px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 input[type="text"]::-webkit-input-placeholder {
  font-size: 18px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 input[type="text"]:-ms-input-placeholder {
  font-size: 18px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 input[type="text"]::-ms-input-placeholder {
  font-size: 18px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 input[type="text"]::placeholder {
  font-size: 18px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 textarea {
  padding: 26px 23px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 textarea::-webkit-input-placeholder {
  font-size: 18px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 textarea:-ms-input-placeholder {
  font-size: 18px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 textarea::-ms-input-placeholder {
  font-size: 18px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .col-sm-9 textarea::placeholder {
  font-size: 18px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .cms-file-md-upload-inner {
  margin-top: -16px;
  height: 80px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .cms-file-md-upload-inner label span {
  font-size: 18px;
  padding-left: 34px;
}

.page-apply-middle .conts-wrap .box-primary .form-group .cms-file-md-upload-inner label span::before {
  width: 27px;
  height: 27px;
}

.page-apply-middle .conts-wrap .box-primary .agree {
  margin-bottom: 45px;
}

.page-apply-middle .conts-wrap .box-primary .agree .checkbox-btn {
  width: 189px;
  height: 24px;
}

.page-history .site-content .conts-wrap {
  margin: 70px auto 190px;
}

.page-history .site-content .conts-wrap .page-title {
  margin-bottom: 40px;
}

.page-history .site-content .conts-wrap .filter-wrapper {
  text-align: right;
}

.page-history .site-content .conts-wrap .filter-wrapper .filter-btn {
  font-size: 22px;
  padding: 0 25px 0 33px;
}

.page-history .site-content .conts-wrap .filter-wrapper .filter-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-history .site-content .conts-wrap .filter-wrapper .filter-btn::before {
  width: 22px;
  height: 22px;
}

.page-history .site-content .conts-wrap .filter-wrapper .filter-btn::after {
  width: 14px;
  height: 10px;
}

.page-history .site-content .conts-wrap .filter-wrapper ul {
  top: 48px;
  right: 0;
  text-align: left;
  padding: 23px;
}

.page-history .site-content .conts-wrap .filter-wrapper ul li:not(:last-child) {
  padding: 0;
  margin-bottom: 22px;
}

.page-history .site-content .conts-wrap .filter-wrapper ul li label {
  font-size: 18px;
  margin: 0;
  padding-left: 42px;
}

.page-history .site-content .conts-wrap .filter-wrapper ul li label::before {
  width: 32px;
  height: 32px;
}

.page-history .site-content .conts-wrap .form-group {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
}

.page-history .site-content .conts-wrap .form-group .col-sm-3,
.page-history .site-content .conts-wrap .form-group .col-sm-9 {
  width: 100%;
  padding: 0;
}

.page-history .site-content .conts-wrap .form-group:nth-child(2) .col-sm-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-history .site-content .conts-wrap .form-group:nth-child(2) .col-sm-9 select:nth-child(1) {
  margin-right: 10px;
  margin-bottom: 0;
}

.page-history .site-content .conts-wrap .form-group .col-sm-9 select {
  height: 68px;
  padding-left: 23px;
  background-image: url(../images/selectbox-icon.png);
  background-position: calc(100% - 19px) 50%;
  font-size: 18px;
}

.page-history .site-content .conts-wrap .form-group .col-sm-9 input[type="text"] {
  height: 68px;
  padding-left: 23px;
  font-size: 18px;
}

.page-history .site-content .conts-wrap .form-group .col-sm-9 input[type="text"]::-webkit-input-placeholder {
  font-size: 18px;
}

.page-history .site-content .conts-wrap .form-group .col-sm-9 input[type="text"]:-ms-input-placeholder {
  font-size: 18px;
}

.page-history .site-content .conts-wrap .form-group .col-sm-9 input[type="text"]::-ms-input-placeholder {
  font-size: 18px;
}

.page-history .site-content .conts-wrap .form-group .col-sm-9 input[type="text"]::placeholder {
  font-size: 18px;
}

.page-history .site-content .conts-wrap .form-group .col-sm-9 .textarea {
  width: 100%;
  height: 622px;
  padding: 26px 23px;
}

.page-history .site-content .conts-wrap .form-group .col-sm-9 .textarea p {
  font-size: 18px;
  margin: 0;
}

.page-history .site-content .conts-wrap .form-group .cms-file-md-upload-inner {
  margin-top: -16px;
  height: 80px;
}

.page-history .site-content .conts-wrap .form-group .cms-file-md-upload-inner label span {
  font-size: 18px;
  padding-left: 34px;
}

.page-history .site-content .conts-wrap .form-group .cms-file-md-upload-inner label span::before {
  width: 27px;
  height: 27px;
}

.page-history-detail .site-content .conts-wrap .cms-form {
  margin-bottom: 45px;
}

.page-history-detail .site-content .conts-wrap .cms-form .form-group:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 0;
}

.page-history-detail .site-content .conts-wrap .cms-form .form-group:nth-child(1) .cms-type-internal-time-date-time-absolute {
  font-size: 16px;
  padding-left: 37px;
}

.page-history-detail .site-content .conts-wrap .cms-form .form-group:nth-child(1) .cms-type-internal-time-date-time-absolute::before {
  content: "";
  width: 27px;
  height: 26px;
}

.page-history-detail .site-content .conts-wrap .cms-form .form-group .control-label {
  font-size: 20px;
  margin-bottom: 5px;
}

.page-history-detail .site-content .conts-wrap .cms-form .form-group textarea[name="cancel-editor"] {
  width: 100%;
  height: 600px;
  font-size: 18px;
  padding: 26px 22px;
}

.page-history-detail .site-content .conts-wrap .cms-form .form-group textarea[name="cancel-editor"]::-webkit-input-placeholder {
  font-size: 18px;
}

.page-history-detail .site-content .conts-wrap .cms-form .form-group textarea[name="cancel-editor"]:-ms-input-placeholder {
  font-size: 18px;
}

.page-history-detail .site-content .conts-wrap .cms-form .form-group textarea[name="cancel-editor"]::-ms-input-placeholder {
  font-size: 18px;
}

.page-history-detail .site-content .conts-wrap .cms-form .form-group textarea[name="cancel-editor"]::placeholder {
  font-size: 18px;
}

.page-status .site-content .conts-wrap .page-title {
  margin-bottom: 28px;
}

.page-doing .site-content .conts-wrap .page-title {
  margin-bottom: 43px;
}

.page-doing-detail .site-content .conts-wrap .complete-box {
  padding: 200px 0 !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-doing-detail .site-content .conts-wrap .complete-box .flex-wrapper {
  width: 600px !important;
  height: 640px !important;
  padding: 24px 40px 54px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .flex-wrapper .btn-wrapper {
  text-align: right;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .text {
  font-size: 24px !important;
  padding-top: 90px !important;
  margin-top: 7px !important;
  margin: 0 0 9px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .text::before {
  width: 70px !important;
  height: 70px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form {
  margin-top: 10px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form .form-group {
  margin-bottom: 20px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form .form-group textarea[name="complete-editor"] {
  width: 100% !important;
  height: 218px !important;
  font-size: 18px !important;
  padding: 26px 22px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form .form-group textarea[name="complete-editor"]::-webkit-input-placeholder {
  font-size: 18px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form .form-group textarea[name="complete-editor"]:-ms-input-placeholder {
  font-size: 18px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form .form-group textarea[name="complete-editor"]::-ms-input-placeholder {
  font-size: 18px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form .form-group textarea[name="complete-editor"]::placeholder {
  font-size: 18px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form .form-group .cms-file-md-upload-inner {
  height: 80px !important;
  margin-top: 10px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form .form-group .cms-file-md-upload-inner label span {
  font-size: 18px !important;
  padding-left: 34px !important;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form .form-group .cms-file-md-upload-inner label span::before {
  width: 27px !important;
  height: 27px !important;
  position: absolute;
}

.page-doing-detail .site-content .conts-wrap .complete-box .content .cms-form .btn-group .btn-success {
  width: 160px !important;
  height: 60px !important;
}

.page-transcase .site-content .conts-wrap .page-title {
  margin-bottom: 58px;
}

.page-transcase .site-content .conts-wrap .list-group-type1 .list-group .list-group-item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-transcase .site-content .conts-wrap .list-group-type1 .list-group .list-group-item .right .cms-type-internal-time-date-time-absolute {
  display: inline-block;
  margin-top: 8px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item {
  padding: 25px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item:not(:last-child) {
  margin-bottom: 10px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .left .badge {
  width: 70px;
  height: 70px;
  margin-right: 14px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .left .title {
  font-size: 22px;
  margin-bottom: 0;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .left .location {
  font-size: 16px;
  padding-left: 25px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .left .location::before {
  width: 18px;
  height: 21px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .right {
  text-align: right;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .right span {
  font-size: 16px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .right .charge {
  font-size: 20px;
  margin-bottom: 0;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .right .btn-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .right .btn-group .btn-default {
  width: 60px;
  height: 40px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .flex-wrapper .right .btn-group .accept-btn {
  margin-right: 4px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .box-type1 {
  padding: 20px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .box-type1 p {
  font-size: 16px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .box-type1 p::before {
  width: 24px;
  height: 24px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .box-type1 p:not(:first-child) {
  margin-top: 6px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .complaint-content {
  margin-top: 23px;
  margin-bottom: 6px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .complaint-content p {
  padding-left: 35px;
}

.page-transcase .site-content .conts-wrap .list-group-type2 .list-group-item .chat p {
  padding-left: 33px;
}

.page-transcase .site-content .conts-wrap .accept-box {
  padding-top: 200px;
}

.page-transcase .site-content .conts-wrap .accept-box .flex-wrapper {
  width: 460px;
  height: 320px;
  padding: 24px 40px 54px;
}

.page-transcase .site-content .conts-wrap .accept-box .flex-wrapper .content .text {
  font-size: 24px;
  padding-top: 90px;
  margin-top: 7px;
  margin: 0 0 33px;
}

.page-transcase .site-content .conts-wrap .accept-box .flex-wrapper .content .text::before {
  width: 70px;
  height: 70px;
}

.page-transcase .site-content .conts-wrap .accept-box .flex-wrapper .content .btn-group .btn-success {
  width: 120px;
  height: 60px;
}

.page-transcase .site-content .conts-wrap .reject-box {
  padding-top: 200px;
}

.page-transcase .site-content .conts-wrap .reject-box .flex-wrapper {
  width: 600px;
  height: 550px;
  padding: 24px 40px 54px;
}

.page-transcase .site-content .conts-wrap .reject-box .flex-wrapper .content .text {
  font-size: 24px;
  padding-top: 90px;
  margin-top: 7px;
  margin: 0 0 23px;
}

.page-transcase .site-content .conts-wrap .reject-box .flex-wrapper .content .text::before {
  width: 70px;
  height: 70px;
}

.page-transcase .site-content .conts-wrap .reject-box .flex-wrapper .content .cms-form .form-group {
  margin-bottom: 20px;
}

.page-transcase .site-content .conts-wrap .reject-box .flex-wrapper .content .cms-form .form-group textarea[name="complete-editor"] {
  width: 100%;
  height: 218px;
  padding: 26px 23px;
  font-size: 18px;
}

.page-transcase .site-content .conts-wrap .reject-box .flex-wrapper .content .cms-form .form-group textarea[name="complete-editor"]::-webkit-input-placeholder {
  font-size: 18px;
}

.page-transcase .site-content .conts-wrap .reject-box .flex-wrapper .content .cms-form .form-group textarea[name="complete-editor"]:-ms-input-placeholder {
  font-size: 18px;
}

.page-transcase .site-content .conts-wrap .reject-box .flex-wrapper .content .cms-form .form-group textarea[name="complete-editor"]::-ms-input-placeholder {
  font-size: 18px;
}

.page-transcase .site-content .conts-wrap .reject-box .flex-wrapper .content .cms-form .form-group textarea[name="complete-editor"]::placeholder {
  font-size: 18px;
}

.page-transcase .site-content .conts-wrap .reject-box .flex-wrapper .content .btn-group .btn-success {
  width: 120px;
  height: 60px;
}
